body {
    background-color: #f5ebdc;
}

.enlaceColor{
    background-color:brown;
    border-radius: 0.5vw;
}

.row {
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    position: relative;
}


/* Create four equal columns that sits next to each other */

.column {
    flex: 33%;
    max-width: 33%;
    padding: 1px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 80%;
    height: 80%;
    margin: 2.5%;
    border-radius: 15px;
}

.texto {
    font-family: fantasy;
    font-size: 18px;
    font-weight: bolder;
    color: brown;
}


/* Responsive layout - makes a two column-layout instead of four columns */

@media screen and (max-width: 800px) {
    .column {
        flex: 50%;
        max-width: 50%;

    }
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}
