.enlaceColor{
    background-color:brown;
}

body {
    background-color: #f5ebdc;
}



/* Style inputs, select elements and textareas */
input[type=text],input[type=number], input[type=date]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
  }

  /* Style the label to display next to the inputs */
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #34495e;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 100%;
  }
  
  /* Style the container */
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 100%;
    margin-top: 6px;
    position: relative;
  }
  
 
  .col-75 {
    float: left;
    width: 100%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      max-width: 100%;
      flex: 100%;
      width: 100%;
      margin-top: 0;
    }
  }

  @media screen and (max-width: 800px) {
    .col-25, .col-75, input[type=submit] {
        flex: 50%;
        max-width: 50%;
    }
}
